.column-layout {
  display: flex;
  flex-direction: column;
}
.card-calendar-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  height: 100%;
}
.row-layout {
  display: flex;
}
.group {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.card-4 {
  --header-text-color: var(--ig-card-header-text-color, hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1));
  --subtitle-text-color: var(--ig-card-subtitle-text-color, lch(from hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1) calc(l + (50 - l) * 0.1 + sign(50 - l) * 7) c h));
  --content-text-color: var(--ig-card-content-text-color, lch(from hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1) calc(l + (50 - l) * 0.1 + sign(50 - l) * 7) c h));
  --actions-text-color: var(--ig-card-actions-text-color, hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1));
  --background: var(--ig-card-background, var(--surface-500));
  overflow: unset;
  margin: 16px;
  padding: 0.0px;
  width: 320px;
  height: max-content;
  min-width: 320.0px;
  min-height: 50.0px;
  max-width: 320px;
}
.group_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
}
.card {
  --header-text-color: var(--ig-card-header-text-color, hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1));
  --subtitle-text-color: var(--ig-card-subtitle-text-color, lch(from hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1) calc(l + (50 - l) * 0.1 + sign(50 - l) * 7) c h));
  --content-text-color: var(--ig-card-content-text-color, lch(from hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1) calc(l + (50 - l) * 0.1 + sign(50 - l) * 7) c h));
  --actions-text-color: var(--ig-card-actions-text-color, hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1));
  --background: var(--ig-card-background, var(--surface-500));
  overflow: unset;
  margin: 16px;
  padding: 0.0px;
  width: 320.0px;
  height: max-content;
  min-width: 320.0px;
  min-height: 50.0px;
  max-width: 320.0px;
  flex-shrink: 0;
}
.card-1 {
  --header-text-color: var(--ig-card-header-text-color, hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1));
  --subtitle-text-color: var(--ig-card-subtitle-text-color, lch(from hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1) calc(l + (50 - l) * 0.1 + sign(50 - l) * 7) c h));
  --content-text-color: var(--ig-card-content-text-color, lch(from hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1) calc(l + (50 - l) * 0.1 + sign(50 - l) * 7) c h));
  --actions-text-color: var(--ig-card-actions-text-color, hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1));
  --background: var(--ig-card-background, var(--surface-500));
  overflow: unset;
  margin: 16px;
  padding: 0.0px;
  width: max-content;
  height: max-content;
  min-width: 320.0px;
  min-height: 50.0px;
}
.card-2 {
  --header-text-color: var(--ig-card-header-text-color, hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1));
  --subtitle-text-color: var(--ig-card-subtitle-text-color, lch(from hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1) calc(l + (50 - l) * 0.1 + sign(50 - l) * 7) c h));
  --content-text-color: var(--ig-card-content-text-color, lch(from hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1) calc(l + (50 - l) * 0.1 + sign(50 - l) * 7) c h));
  --actions-text-color: var(--ig-card-actions-text-color, hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1));
  --background: var(--ig-card-background, var(--surface-500));
  overflow: unset;
  margin: 16px;
  padding: 0.0px;
  width: 445px;
  height: max-content;
  min-width: 320.0px;
  min-height: 50.0px;
  max-width: 445px;
  flex-shrink: 0;
  flex-direction: row;
}
.group_2 {
  flex-grow: 1;
}
.card-1-1 {
  --header-text-color: var(--ig-card-header-text-color, hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1));
  --subtitle-text-color: var(--ig-card-subtitle-text-color, lch(from hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1) calc(l + (50 - l) * 0.1 + sign(50 - l) * 7) c h));
  --content-text-color: var(--ig-card-content-text-color, lch(from hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1) calc(l + (50 - l) * 0.1 + sign(50 - l) * 7) c h));
  --actions-text-color: var(--ig-card-actions-text-color, hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1));
  --background: var(--ig-card-background, var(--surface-500));
  overflow: unset;
  margin: 16px;
  padding: 0.0px;
  width: max-content;
  height: max-content;
  min-width: 320.0px;
  min-height: 50.0px;
  flex-shrink: 0;
}
.card-3 {
  --header-text-color: var(--ig-card-header-text-color, hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1));
  --subtitle-text-color: var(--ig-card-subtitle-text-color, lch(from hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1) calc(l + (50 - l) * 0.1 + sign(50 - l) * 7) c h));
  --content-text-color: var(--ig-card-content-text-color, lch(from hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1) calc(l + (50 - l) * 0.1 + sign(50 - l) * 7) c h));
  --actions-text-color: var(--ig-card-actions-text-color, hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1));
  --background: var(--ig-card-background, var(--surface-500));
  overflow: unset;
  margin: 16px;
  padding: 0.0px;
  width: 450px;
  height: max-content;
  min-width: 320.0px;
  min-height: 50.0px;
  max-width: 450px;
  flex-shrink: 0;
  flex-direction: row;
}
.group_3 {
  width: 100%;
}
.group_4 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.card-5 {
  --ig-size: var(--ig-size-large);
  --header-text-color: var(--ig-card-header-text-color, hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1));
  --subtitle-text-color: var(--ig-card-subtitle-text-color, lch(from hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1) calc(l + (50 - l) * 0.1 + sign(50 - l) * 7) c h));
  --content-text-color: var(--ig-card-content-text-color, lch(from hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1) calc(l + (50 - l) * 0.1 + sign(50 - l) * 7) c h));
  --actions-text-color: var(--ig-card-actions-text-color, hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1));
  --background: var(--ig-card-background, var(--surface-500));
  overflow: unset;
  margin: 16px;
  padding: 0.0px;
  width: 320.0px;
  height: max-content;
  min-width: 320.0px;
  min-height: 50.0px;
  max-width: 320.0px;
  flex-shrink: 0;
}
.group_5 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.media-content {
  height: 300px;
  min-height: 300px;
  max-height: 300px;
}
.body-content {
  min-width: 50px;
  min-height: 50px;
}
.actions-content {
  min-width: 50px;
  min-height: 40px;
}
.media-content_1 {
  height: 200px;
}
.media-content_2 {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}
.divider {
  display: none;
}
.content {
  flex-direction: column;
  align-items: end;
}
.image {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}
.text-3 {
  margin: 0.0px;
  padding: 0.0px;
  height: max-content;
}
.avatar {
  margin: 0.0px;
  padding: 0.0px;
}
.avatar-1 {
  --ig-size: var(--ig-size-small);
  margin: 0.0px;
  padding: 0.0px;
}
.avatar_1 {
  --ig-size: var(--ig-size-large);
  margin: 0.0px;
  padding: 0.0px;
}
.avatar_2 {
  --ig-size: var(--ig-size-small);
}
.calendar {
  margin: 16px;
  width: max-content;
  height: max-content;
  min-width: max-content;
  flex-shrink: 0;
}
.avatar_3::part(base) {
  background-color: transparent;
}
.avatar-1_1::part(base) {
  background-color: transparent;
}
.avatar_1_1::part(base) {
  background-color: var(--ig-primary-100);
}
.button-4 {
  --ig-size: var(--ig-size-medium);
  margin: 0.0px;
  padding: 0.0px;
  width: max-content;
  height: max-content;
}
.icon-button-1-2 {
  margin: 0.0px;
  padding: 0.0px;
}
