.column-layout {
  display: flex;
  flex-direction: column;
}
.lists-data-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  height: 100%;
}
.row-layout {
  display: flex;
}
.group {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  overflow: auto;
  position: relative;
  padding: 32px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.card {
  --header-text-color: var(--ig-card-header-text-color, hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1));
  --subtitle-text-color: var(--ig-card-subtitle-text-color, lch(from hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1) calc(l + (50 - l) * 0.1 + sign(50 - l) * 7) c h));
  --content-text-color: var(--ig-card-content-text-color, lch(from hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1) calc(l + (50 - l) * 0.1 + sign(50 - l) * 7) c h));
  --actions-text-color: var(--ig-card-actions-text-color, hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1));
  --background: var(--ig-card-background, var(--surface-500));
  overflow: unset;
  width: 350px;
  height: max-content;
  min-width: 320px;
  max-width: 350px;
  flex-shrink: 0;
  flex-direction: row;
}
.group_1 {
  flex-grow: 1;
}
.group_2 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 17px;
  position: relative;
  padding: 16px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_3 {
  background-color: var(--ig-warn-500);
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  overflow: auto;
  position: relative;
  padding: 24px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_4 {
  background-color: var(--ig-primary-200);
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  overflow: auto;
  position: relative;
  padding: 24px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_5 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  margin: 8px 0 0;
  min-width: 50px;
  min-height: max-content;
}
.group_6 {
  justify-content: flex-start;
  align-items: baseline;
  align-content: flex-start;
  gap: 0;
  position: relative;
  min-width: 50px;
  min-height: max-content;
  flex-grow: 1;
  flex-basis: 0;
}
.actions-content {
  min-width: 50px;
  min-height: 40px;
}
.media-content {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
}
.button {
  --ig-size: var(--ig-size-medium);
  height: max-content;
}
.image {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}
.avatar {
  --ig-size: var(--ig-size-small);
}
.avatar_1 {
  --ig-size: var(--ig-size-large);
}
.icon {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.text {
  margin: 0 8px 0 0;
  height: max-content;
  min-width: min-content;
}
.text_1 {
  height: max-content;
  min-width: min-content;
}
.hyperlink {
  color: var(--ig-info-500);
  cursor: pointer;
  height: max-content;
  min-width: min-content;
}
.avatar::part(base) {
  background-color: transparent;
}
.avatar_1::part(base) {
  background-color: transparent;
}
.list {
  --ig-size: var(--ig-size-small);
  height: max-content;
  min-width: 320px;
  flex-shrink: 0;
}
.list_1 {
  height: max-content;
}
.list_2 {
  --ig-size: var(--ig-size-large);
  height: max-content;
}
