.row-layout {
  display: flex;
}
.stepper-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  padding: 32px;
  height: 100%;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
}
.group_1 {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.group_2 {
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  padding: 16px;
  min-width: 50px;
  min-height: 50px;
  align-self: stretch;
  flex-shrink: 0;
}
.group_3 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
}
.group_4 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  padding: 16px;
  width: 267px;
  min-width: 267px;
  max-width: 267px;
}
.group_5 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 0.5rem;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.stepper-horiz {
  min-width: 0;
  min-height: 0;
  flex-grow: 1;
  flex-shrink: 0;
}
.step-content {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  overflow: auto;
  position: relative;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
}
.step-content_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  overflow: auto;
  position: relative;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
}
.stepper-vert {
  min-width: 0;
  min-height: 0;
  flex-grow: 1;
  flex-basis: 0;
}
.step-content_2 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  overflow: auto;
  position: relative;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
}
.step-content_3 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 10px;
  overflow: auto;
  position: relative;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
}
.input {
  height: max-content;
  min-width: min-content;
  flex-grow: 1;
  flex-shrink: 0;
}
.button {
  --ig-size: var(--ig-size-medium);
  height: max-content;
  align-self: start;
}
.button_1 {
  --ig-size: var(--ig-size-medium);
  height: max-content;
  flex-shrink: 0;
}
.button_2 {
  --ig-size: var(--ig-size-small);
  height: max-content;
  align-self: flex-start;
  flex-shrink: 0;
}
.button_3::part(base) {
  color: var(--ig-surface-500);
}
.icon {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.text {
  height: max-content;
  min-width: min-content;
}
.grid {
  --ig-size: var(--ig-size-medium);
  min-width: 600px;
  min-height: 300px;
  flex-grow: 1;
  flex-basis: 0;
}
.grid_1 {
  --ig-size: var(--ig-size-medium);
  min-width: 500px;
  min-height: 300px;
  flex-grow: 1;
  flex-basis: 0;
}
