.row-layout {
  display: flex;
}
.category-charts-container {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  height: 100%;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group {
  background-color: var(--ig-surface-500);
  border-color: var(--ig-gray-200);
  border-width: 1px;
  border-style: solid;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  padding: 32px;
  min-width: 500px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_1 {
  min-width: 400px;
  min-height: 300px;
  flex-grow: 1;
  flex-basis: 0;
  > * { height: 100%; width: 100%; }
}
.group_2 {
  background-color: var(--ig-surface-500);
  border-color: var(--ig-gray-200);
  border-width: 1px;
  border-style: solid;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  padding: 32px;
  min-width: 500px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_3 {
  --brushes: #56b4e9 #009e73 #f0e442 #d55e00 #d600fe #00499f #e69f00 #000000 #84f0df #735656;
  --outlines: #56b4e9 #009e73 #f0e442 #d55e00 #d600fe #00499f #e69f00 #000000 #84f0df #735656;
  --marker-brushes: #56b4e9 #009e73 #f0e442 #d55e00 #d600fe #00499f #e69f00 #000000 #84f0df #735656;
  --marker-outlines: #56b4e9 #009e73 #f0e442 #d55e00 #d600fe #00499f #e69f00 #000000 #84f0df #735656;
  min-width: 400px;
  min-height: 300px;
  flex-grow: 1;
  flex-basis: 0;
  > * { height: 100%; width: 100%; }
}
.group_4 {
  min-width: 250px;
  min-height: 250px;
  flex-grow: 1;
  flex-basis: 0;
  > * { height: 100%; width: 100%; }
}
.h6 {
  text-align: center;
  color: var(--ig-gray-700);
  margin: 0 0 16px;
  height: max-content;
  min-width: min-content;
}
