.row-layout {
  display: flex;
}
.grid-with-templates-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  height: 100%;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
}
.group_1 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.group_2 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 4px;
  position: relative;
}
.group_3 {
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}
.grid {
  --ig-size: var(--ig-size-medium);
  min-width: 600px;
  min-height: 300px;
  flex-grow: 1;
  flex-basis: 0;
}
.avatar {
  --ig-size: var(--ig-size-small);
}
.text {
  height: max-content;
  min-width: min-content;
}
.chip {
  width: max-content;
  height: max-content;
}
.icon {
  --size: 18px;
  font-size: 18px;
  width: 18px;
  height: 18px;
}
.icon_1 {
  color: var(--ig-secondary-400);
}
.avatar::part(base) {
  background-color: transparent;
}
.icon-button {
  --ig-size: var(--ig-size-small);
}
.dropdown {
  left: 0;
  top: 0;
  position: absolute;
  min-width: min-content;
}
.icon-button::part(base) {
  color: var(--ig-secondary-400);
}
.dropdown::part(base) {
  height: max-content;
}
