.row-layout {
  display: flex;
}
.apex-charts-container {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  height: 100%;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group {
  background-color: var(--ig-surface-500);
  border-color: var(--ig-gray-200);
  border-width: 1px;
  border-style: solid;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  padding: 32px;
  min-width: 500px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_1 {
  background-color: var(--ig-surface-500);
  border-color: var(--ig-gray-200);
  border-width: 1px;
  border-style: solid;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  padding: 32px;
  min-width: 500px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.apex-chart {
  min-width: 400px;
  min-height: 300px;
  flex-grow: 1;
  flex-basis: 0;
}
