.row-layout {
  display: flex;
}
.financial-chart-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  height: 100%;
}
.group {
  min-width: 400px;
  min-height: 300px;
  flex-grow: 1;
  flex-basis: 0;
  > * { height: 100%; width: 100%; }
}
